.DS_Store
node_modules
.terraform
.serverless
terraform.tfstate
terraform.tfstate.backup
/dist
/api/*/dist
/api/*/node_modules

*.tfvars
okta.setup.tfplan
okta.delete.tfplan

# local env files
.env.local
.env.*.local
*.env.*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# other
package-lock.json