org_name          = ""
base_url          = "okta.com"
api_token         = "<OKTA_API_TOKEN>"
app_url           = "http://localhost:8080"
superuser_login   = ""
environment       = "dev"
aws_region        = "us-east-1"
aws_profile       = "serverless-okta"
aws_ssm_prefix    = "dac"