org_name       = ""
base_url       = "okta.com"
api_token      = "<OKTA_API_TOKEN>"
app_url        = "http://localhost:8080"
superuser_id   = ""
environment    = "dev"
aws_region     = "us-east-2"
aws_profile    = "dac-serverless-admin"
aws_ssm_prefix = "dac"